name: Tests

on:
  push:
    branches:
    - master
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        channel: [stable, nightly]
    steps:
    - uses: actions/checkout@v2

    - uses: extractions/setup-just@v1

    - name: Run tests [${{ matrix.channel }}]
      run: just test ${{ matrix.channel }}
